{% comment %} {% extends '../layout.html' %}

{% block content %}
 {% endcomment %}
<h2> Page Number: {{ sessionNum }} </h2>

{% if page == 'audio' %}
<h1> Audio Round </h1> 

<h1> Close your eyes </h1>
<div class='row'>
    <h1> Mumbles: {{ mumbles }} </h1>
    <h1> Pairs: {{ pairs }} </h1>
    <h1> Placebo: {{ placebo }} </h1>
</div>

{% endif %}


{% if page == 'survey' %}

<div class='row'>
  <h1> Survey: {{ surveyName }} </h1>
  
  {% for question in questions %}
    <h1> Question {{ question.questionNum }}: </h1>
    <h1> {{ question.questionText }} </h1>
    {% if question.questionType == "text" %}
    <input></input>
    {% endif %}
    {% if question.questionType == "slider" %}
    <input type="range" min="0" max="10">
    {% endif %}
    {% if question.questionType == "yesOrNo" %}
    <button>Yes</button>
    <button>No</button>
    {% endif %}
  {% endfor %}
</div>


{% endif %}


{% if page == 'text' %}
<h1> Text round </h1>

<h1>
    {{ text }}    
    <h1>
    

{% endif %}


<a href="/prevRound"> Previous Page </a>
<br><br><br>
<a href="/nextRound"> Next Page </a>


{% comment %} {% endblock %} {% endcomment %}