{% extends 'layout.html' %}
{% load static %}

{% block style %}
  <title>Create Experiments</title>
  <style>
    .container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
      }
      
      .box {
        border: 3px solid #666;
        background-color: #ddd;
        border-radius: .5em;
        padding: 10px
        cursor: move;
      }

      .box.over {
        border: 3px dotted #666;
      }
     

  </style>
{% endblock %}

{% block content %}

<style>
  .row1 {
    padding-bottom: 10px;
    margin-bottom: 20px;
    padding-top:30px;
  }

  #addRound {
    margin-top: 20px;
    padding: 4px 10px 4px 10px;
    background-color: #2d3142;
    border: none;
    font-size: 16px;
    color: white;
    border-radius:5px;
    border: none !important;
    margin-left:-20px;
  }

  #addRound:hover {
      background-color:#4f5d75;
  }

  #addRound:active{
    transform: perspective(20px) translateZ(-1px);
  }



  .row2 {
    padding-top:30px;
  }


  .roundRow {
    padding-top: 30px;
    margin-left:20px !important;
  
  }

  #submitButton {
    padding: 10px;
    margin-top:15px;
    background-color: #4f5d75;
    border: none;
    font-size: 17px;
    color: white;
    border-radius: 10px;
  }

  #submitButton:focus {
    box-shadow:none;
  }
  
  #submitButton:active{
    transform: perspective(20px) translateZ(-1px);
  }

  #submitButton:hover {
      background-color: #2d3142;

  }


  .textRound {
    padding: 30px;
    margin-bottom: 15px;
      border: 1px dashed darkgray;
    text-align: center;
  }

  .audioRound {
    padding: 30px;
    margin-bottom: 15px;
    border: 1px dashed darkgray;
    text-align: center;

  }

  .imageRound {
    padding: 30px;
    margin-bottom: 15px;
      border: 1px dashed darkgray;
    text-align: center;
  }

.surveyRound {
  padding: 30px;
  margin-bottom: 15px;
  border: 1px dashed darkgray;
  text-align: center;

}

#roundLabel {
  padding:30px;
}

#removeBtn {
    background-color: transparent;
    border:none;

}

#add_button {
  margin-top:20px;
  padding: 5px 10px 5px 10px;
  background-color: darkgray;
  border: none;
  font-size: 15px;
  color: white;
  border-radius: 5px;
}


#add_button:focus {
  box-shadow:none;
}

#add_button:active{
  transform: perspective(20px) translateZ(-1px);
}

#add_button:hover {
  background-color:gray;
  box-shadow: 1px 1px 0px 1px dimgray;

}



#question {
  margin-bottom:10px;
}

#checks {
  margin-top: 20px;
}

#firstTextRound {
  padding-top: 25px;
}

.fa-xmark {
    color: darkgray;

}

.fa-xmark:hover {
  color: dimgray;

}

.headingRow{
  padding-top: 30px;
  color: black;

}

#experimentName {
  margin-top: 20px;
}

#roundType {
  margin-top:15px;
}

.roundtypeRow {
  padding-bottom: 10px;
  margin-top: 30px;
  border-bottom: 1px solid lightgray;
}

.fa-question {
  color: #2d3142;
}

#helpButton {
  background-color: white !important;
  margin-left: -45px;
  margin-top: 25px;
  border: 2px dashed #2d3142 !important;
}

#helpButton:hover {
  box-shadow: 3px 3px 3px 1px dimgray;
}

#helpButton:focus {
  box-shadow:none;
}

#helpButton:active{
  transform: perspective(20px) translateZ(-1px);
}

#pairs {
  border: 1px solid lightgray;
  width:20%;
}

.popUp {
  margin-top: 150px;
  text-align: center;
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 30%;
  top: 0;
  width: 40%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.4);
}
.popupContent {
  font-size: 17px;
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: rgb(255, 65, 65);
  float: right;
  font-size: 40px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: #ff1010;
  cursor: pointer;
}


#labelPrime, #labelName {
  margin-top :10px;
}

select{
  -webkit-appearance: listbox !important
  }

</style>

<div class="popUp">
  <div class="popupContent">
  <span class="close">×</span>
  <p>Creating An Experiment:</p>
  <p>An Experiment is made up of <b>rounds</b>.</p>
  <p>Select from <b>Text</b>, <b>Audio</b>, <b>Survey</b> and <b>Image</b> rounds and click the <i class="fa-plus fa-solid fa-lg"></i> button to add and edit your chosen round.
   Click on <i class="fa-solid fa-xmark fa-lg" style="color: darkgray !important;"></i> located on the top of a round to delete it. You can also drag each round to change the order of your experiment!
  </p>
  <p>When you are happy with your experiment rounds and want to submit, fill in the name of your experiment and click the "Submit Experiment" button.</p>

</div>
  </div>

<div class="row headingRow">
  <div class="col-md-4"></div>
  <div class="col-md-4 d-flex justify-content-center heading">
    <h1>Create an Experiment</h1>
  </div>
</div>
<div class="row row1">
  <div class="col-md-7"></div>
  <div class="col-md-2 col2 form-outline form-group">
    <input class="form-control" type="text" placeholder="Enter Experiment Name"id="experimentName" name="experimentName" required="true"></input>
</div>
  <div class="col-md-2">
  <button id="submitButton"onclick="submitExperiment()">
    Submit Experiment
    </button>
  </div>
  <div class="col-md-1 questionCol">
    <button class="openPopUp" id="helpButton"><i class=" fa-solid fa-question fa-lg"></i></button>
  </div>
  
</div>

<div class="row roundtypeRow">

  <div class="col-md-5"></div>
  <div class="col-md-2 roundTypeCol d-flex justify-content-center">
  <select class="form-select"  name="roundType" id="roundType">
     <option value="" disabled selected>Select Round Type</option>
      <option value="text">Text Round</option>
      <option value="audio">Audio Round</option>
      <option value="image">Image Round</option>	
      <option value="survey">Survey Round</option>
   </select>
</div>
<div class="col-md-2 roundTypeCol">
<button id="addRound" onclick="addRound(this)"><i class="fa-solid fa-plus"></i></button>
</div>
</div>

<div class="row roundRow">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
      <div class="container row" id="roundContainer">
        <div draggable="true" class="box textRound col-sm-3"><h3 id="firstTextRound">Text Round</h3><br><input id="title-input" class="form-control" placeholder="Title:"><br></input><textarea id="text-input" class="text-input form-control" placeholder="Write Your Text Here"></textarea></div>
    </div><br><br><br>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<script>

  var items;

  document.addEventListener('DOMContentLoaded', (event) => {
    items = Array.prototype.slice.call(document.querySelectorAll('.container .box'));
    items.forEach(function(item) {
      item.addEventListener('dragstart', handleDragStart);
      item.addEventListener('dragover', handleDragOver);
      item.addEventListener('dragenter', handleDragEnter);
      item.addEventListener('dragleave', handleDragLeave);
      item.addEventListener('dragend', handleDragEnd);
      item.addEventListener('drop', handleDrop);
      
    });

    
  });

        
  function handleDragStart(e) {
    this.style.opacity = '0.4';
    
    dragSrcEl = this;
    if (this.classList.contains("textRound")) {
      let title = this.querySelector("#title-input").value;
      let text = this.querySelector("#text-input").value;
      console.log(this.innerHTML);
      this.innerHTML = this.innerHTML.replace(/value="[^"]*"/g, "");
      this.innerHTML = this.innerHTML.replace(/"Write Your Text Here">.*</g, '"Write Your Text Here"><');
      console.log(this.innerHTML);
      this.innerHTML = this.innerHTML.replace('<input id="title-input" class="form-control" placeholder="Title:">', 
      '<input id="title-input" class="form-control" value="' + title + '" placeholder="Title:">')
      this.innerHTML = this.innerHTML.replace('<textarea id="text-input" class="text-input form-control" placeholder="Write Your Text Here"></textarea>', 
      '<textarea id="text-input" class="text-input form-control" placeholder="Write Your Text Here">'+text+'</textarea>')
    } else if (this.classList.contains("imageRound")) {
      let name = this.querySelector("#nameText").value;
      let question = this.querySelector("#question").value;
      let questionType = this.querySelector("#questionType").value;
      console.log(questionType);
      this.innerHTML = this.innerHTML.replace(/id="question" value="[^"]*"/g, 'id="question"');
      this.innerHTML = this.innerHTML.replace(/id="nameText" value="[^"]*"/g, 'id="nameText"');
      this.innerHTML = this.innerHTML.replace("selected", "");
      this.innerHTML = this.innerHTML.replace('id="nameText"', 'id="nameText" value="' + name + '"');
      this.innerHTML = this.innerHTML.replace('<input id="question" placeholder="Accompanying Question:" class="questionText form-control">', 
      '<input id="question" value="'+ question + '" placeholder="Accompanying Question:" class="questionText form-control">');
      this.innerHTML = this.innerHTML.replace('option value="' + questionType + '"', 'option value="' + questionType + '" selected');
    } else if (this.classList.contains("surveyRound")) {
      let question = this.querySelector("#question").value;
      let questionType = this.querySelector("#questionType").value;
      console.log("dragged\n", questionType);
      this.innerHTML = this.innerHTML.replace(/id="question" value="[^"]*"/g, 'id="question"');
      this.innerHTML = this.innerHTML.replace("selected", "");
      this.innerHTML = this.innerHTML.replace('<input id="question" placeholder="Question:" class="questionText form-control">', 
      '<input id="question" value="'+ question + '" placeholder="Question:" class="questionText form-control">');
      this.innerHTML = this.innerHTML.replace('option value="' + questionType + '"', 'option value="' + questionType + '" selected');
    } else if (this.classList.contains("audioRound")) {
      let prime = this.querySelector("#prime").value;
      let bundle = this.querySelector("#bundle").value;
      let pairs = this.querySelector("#pairs").value;
      this.innerHTML = this.innerHTML.replace("selected", "");
      this.innerHTML = this.innerHTML.replace('option value="' + prime + '"', 'option value="' + prime + '" selected');
      this.innerHTML = this.innerHTML.replace('option value="' + bundle + '"', 'option value="' + bundle + '" selected');
      this.innerHTML = this.innerHTML.replace(/max="20" value="[^"]*"/g, 'max="20" value="' + pairs + '"');
      console.log(this.innerHTML);
    }
    e.dataTransfer.effectAllowed = 'move';
    e.dataTransfer.setData('text/html', this.innerHTML);
  }
  
  function handleDragEnd(e) {
    this.style.opacity = '1';
  
    items.forEach(function (item) {
      item.classList.remove('over');
    });
  }
  
  function handleDragOver(e) {
    if (e.preventDefault) {
      e.preventDefault();
    }

    return false;
  }
  
  function handleDragEnter(e) {
    this.classList.add('over');
  }
  
  function handleDragLeave(e) {
    this.classList.remove('over');
  }

  function handleDrop(e) {
    e.stopPropagation();
  
    if (dragSrcEl != this) {
      console.log("hello?")
      if (this.classList.contains("textRound")) {
        let title = this.querySelector("#title-input").value;
        let text = this.querySelector("#text-input").value;
        this.innerHTML = this.innerHTML.replace(/value="[^"]*"/g, "");
        this.innerHTML = this.innerHTML.replace(/"Write Your Text Here">.*</g, '"Write Your Text Here"><');
        this.innerHTML = this.innerHTML.replace('<input id="title-input" class="form-control" placeholder="Title:">', 
        '<input id="title-input" class="form-control" value="' + title + '" placeholder="Title:">')
        this.innerHTML = this.innerHTML.replace('<textarea id="text-input" class="text-input form-control" placeholder="Write Your Text Here"></textarea>', 
        '<textarea id="text-input" class="text-input form-control" placeholder="Write Your Text Here">'+text+'</textarea>')
      } else if (this.classList.contains("imageRound")) {
        let name = this.querySelector("#nameText").value;
        let question = this.querySelector("#question").value;
        let questionType = this.querySelector("#questionType").value;
        console.log(questionType);
        this.innerHTML = this.innerHTML.replace(/id="question" value="[^"]*"/g, 'id="question"');
        this.innerHTML = this.innerHTML.replace(/id="nameText" value="[^"]*"/g, 'id="nameText"');
        this.innerHTML = this.innerHTML.replace("selected", "");
        this.innerHTML = this.innerHTML.replace('id="nameText"', 'id="nameText" value="' + name + '"');
        this.innerHTML = this.innerHTML.replace('<input id="question" placeholder="Accompanying Question:" class="questionText form-control">', 
        '<input id="question" value="'+ question + '" placeholder="Accompanying Question:" class="questionText form-control">');
        this.innerHTML = this.innerHTML.replace('option value="' + questionType + '"', 'option value="' + questionType + '" selected');
      } else if (this.classList.contains("surveyRound")) {
        let question = this.querySelector("#question").value;
        let questionType = this.querySelector("#questionType").value;
        console.log("dragged onto\n", questionType);
        this.innerHTML = this.innerHTML.replace(/id="question" value="[^"]*"/g, 'id="question"');
        this.innerHTML = this.innerHTML.replace("selected", "");
        this.innerHTML = this.innerHTML.replace('<input id="question" placeholder="Question:" class="questionText form-control">', 
        '<input id="question" value="'+ question + '" placeholder="Question:" class="questionText form-control">');
        this.innerHTML = this.innerHTML.replace('option value="' + questionType + '"', 'option value="' + questionType + '" selected');
      } else if (this.classList.contains("audioRound")) {
        let prime = this.querySelector("#prime").value;
        let bundle = this.querySelector("#bundle").value;
        let pairs = this.querySelector("#pairs").value;
        this.innerHTML = this.innerHTML.replace("selected", "");
        this.innerHTML = this.innerHTML.replace('option"' + prime + '"', 'option value="' + prime + '" selected');
        this.innerHTML = this.innerHTML.replace('option"' + bundle + '"', 'option value="' + bundle + '" selected');
        this.innerHTML = this.innerHTML.replace(/max="20" value="[^"]*"/g, 'max="20" value="' + pairs + '"');
      }
      let x = Object.assign({}, this.classList)
      x = Object.values(x).join(" ");
      let y = Object.assign({}, dragSrcEl.classList)
      y = Object.values(y).join(" ");
      dragSrcEl.innerHTML = this.innerHTML;
      this.innerHTML = e.dataTransfer.getData('text/html');
      this.classList = y 
      dragSrcEl.classList = x
    }
  
    return false;
  }

  
  


  var questionHtml = `<div class="questionDiv"><input placeholder="Question:"id="question" class="questionText form-control"></input>
  <select name="questionType" id="questionType" class="questionType form-select">
    <option value="" disabled selected>Select Answer Type</option>
    <option value="slider">Slider Bar 1-10</option>
    <option value="input">Input Box</option>
    <option value="yesOrNo">Yes Or No Option</option>
    <option value="Agree">Agree</option>	
  </select><button id="removeBtn" onclick="removeRound(this)">&nbsp;<i class="fa-solid fa-xmark"></i></button><br><br></div>`;

  var textRoundHtml = '<div draggable="true" class="box textRound col-sm-3"><h3>Text Round</h3><br><input id="title-input" class="form-control" placeholder="Title:"><br></input><textarea id="text-input" class="text-input form-control" placeholder="Write Your Text Here"></textarea></div>';

  var surveyRoundHtml = `<div draggable="true" class="box surveyRound col-sm-3"><h3>Survey Round</h3>
    <button id="add_button" onclick="addQuestion(this)">+ question</button><br><br>

    <div class="questionDiv"><input id="question" placeholder="Question:" class="questionText form-control"></input>
    <select name="questionType" id="questionType" class="questionType form-select mb-3">
      <option value="" disabled selected>Select Answer Type</option>
      <option value="slider">Slider Bar 1-10</option>
      <option value="input">Input Box</option>
      <option value="yesOrNo">Yes Or No Option</option>
      <option value="Agree">Agree</option>
    </select><br></div>
  </div>`;

  var audioRoundHtml = `<div draggable="true" class="box audioRound col-sm-3">
    <h3>Audio Round</h3><br>
    <select name="prime" id="prime" class="prime form-select">
    <option value="" disabled selected>Select Prime Type</option>
    <option value="X">X</option>
    <option value="J">J</option>
    <option value="K">K</option>
    </select><br>
    <select name="bundle" id="bundle" class="bundle form-select">
    <option value="" disabled selected>Choose Word Bundle</option>
    {% for bundle in listOfBundles %}
    <option value="{{ bundle.id }}">{{ bundle.name }}</option>
    {% endfor %}
    </select><br>

    <label for="pairs"># of Pairs:&nbsp;&nbsp;&nbsp; </label><input id="pairs" class="pairs" type="number" min="1" max="20" value="1"><br>
    </div>`;
  

  var imageRoundHtml = `<div draggable="true" class="box imageRound col-sm-3">
    <h3>Image Round</h3>
    <input placeholder="Name:" id="nameText" class="nameText form-control"></input><br>
    <label for="image-input">Image: </label><input id="image-input" class="image-input" type="file" accept="image/*"><br>
    <div class="questionDiv"><br><input id="question" placeholder="Accompanying Question:" class="questionText form-control"></input>
      <select name="questionType" id="questionType" class="questionType form-select">
        <option value="" disabled selected>Select Answer Type</option>
        <option value="slider">Slider Bar 1-10</option>
        <option value="input">Input Box</option>
        <option value="yesOrNo">Yes Or No Option</option>
        <option value="Agree">Agree</option>
      </select><br><br></div>
    </div>`;

  var containerBox = document.getElementById("roundContainer");

  function createElementFromHTML(htmlString) {
    var div = document.createElement('div');
    div.innerHTML = htmlString.trim();
  
    return div.firstChild;
  }

  function addQuestion(element){
    surveyDiv = element.parentNode;
    //newQuestion = htmlToElement(questionHtml);
    //console.log(newQuestion);

    //surveyDiv.appendChild(newQuestion);
    surveyDiv.insertAdjacentHTML('beforeend', questionHtml);
  }

  
  var popUp = document.querySelector(".popUp");
  var btn = document.querySelector(".openPopUp");
  var span = document.querySelector(".close");
  btn.addEventListener("click", () => {
     popUp.style.display = "block";
  });
  span.addEventListener("click", () => {
     popUp.style.display = "none";
  });
  window.onclick = function(event) {
     if (event.target == popUp) {
        popUp.style.display = "none";
     }
  };

  function removeRound(elem){
    elem.parentNode.remove()
  }

  function addRound(){
    roundHtml = textRoundHtml
    typeVal = document.getElementById("roundType").value

    if (typeVal == "audio"){
      roundHtml = audioRoundHtml
    }else if (typeVal == "survey"){
      roundHtml = surveyRoundHtml
      }
    else if (typeVal == "text"){
      roundHtml = textRoundHtml
    }
    else if (typeVal == "image"){
      roundHtml = imageRoundHtml
    }
  

  
      //Add delete button (done in messy way)
      roundHtml = roundHtml.replace('<div draggable="true" class="box audioRound col-sm-3">', '<div draggable="true" class="box audioRound col-sm-3"><button id="removeBtn" onclick="removeRound(this)"><i class="fa-solid fa-xmark fa-lg"></i></button>');
      roundHtml = roundHtml.replace('<div draggable="true" class="box textRound col-sm-3">', '<div draggable="true" class="box textRound col-sm-3"><button id="removeBtn" onclick="removeRound(this)"><i class="fa-solid fa-xmark fa-lg"></i></button>');
      roundHtml = roundHtml.replace('<div draggable="true" class="box surveyRound col-sm-3">', '<div draggable="true" class="box surveyRound col-sm-3"><button id="removeBtn" onclick="removeRound(this)"><i class="fa-solid fa-xmark fa-lg"></i></button>');
      roundHtml = roundHtml.replace('<div draggable="true" class="box imageRound col-sm-3">', '<div draggable="true" class="box imageRound col-sm-3"><button id="removeBtn" onclick="removeRound(this)"><i class="fa-solid fa-xmark fa-lg"></i></button>');

    containerBox.insertAdjacentHTML('beforeend',roundHtml)
    divEl = containerBox.lastChild
    //divEl = createElementFromHTML(textRoundHtml)
    //containerBox.appendChild(divEl)

    divEl.addEventListener('dragstart', handleDragStart);
    divEl.addEventListener('dragover', handleDragOver);
    divEl.addEventListener('dragenter', handleDragEnter);
    divEl.addEventListener('dragleave', handleDragLeave);
    divEl.addEventListener('dragend', handleDragEnd);
    divEl.addEventListener('drop', handleDrop);
    items.push(divEl);
  }

  function hasClass(element, className) {
      return (' ' + element.className + ' ').indexOf(' ' + className+ ' ') > -1;
  }



  function buildExperimentInfo(){
    experimentInfo = "$type=experiment$END$experimentID=TestExperiment123$END"

    surveyRound = "$type=survey$END$text=This Is Survey Text$END$surveyID=je02934jf$END"
    
    textRound = "$type=text$END$text=This is text for a text round$END"
    
    audioRound = "$type=audio$END$add_mumbles=true$END$pairs=5$END$placebo=false$END"
    
    experimentString = "@@@OBJECT-DELIM@@@" + experimentInfo + "@@@OBJECT-DELIM@@@" + textRound + "@@@OBJECT-DELIM@@@" + surveyRound + "@@@OBJECT-DELIM@@@" + audioRound
    
    //element.classList.contains(class);

    delimiter = "@@@OBJECT-DELIM@@@"

    imageList = []

    experimentString = delimiter + "$type=experiment$END" + "$experimentName=" + document.getElementById('experimentName').value + "$END"

    items.forEach((element, index) => {

      if (hasClass(element, 'audioRound')) {
        audioRound = "$type=audio$END$add_mumbles=true$END$pairs=5$END$placebo=false$END"
        var type = "audio"
        var prime = element.querySelector('.prime').value
        var bundleID = element.querySelector('.bundle').value
        var pairs = element.querySelector('.pairs').value

        string = delimiter + "$type=" + type + "$END"
        string = string + "$prime=" + prime.toString() + "$END"
        string = string + "$bundleID=" + bundleID.toString() + "$END"
        string = string + "$pairs=" + pairs.toString() + "$END"

        experimentString = experimentString + string

      }else if (hasClass(element, 'surveyRound')){
        surveyRound = "$type=survey$END$text=This Is Survey Text$END$surveyID=je02934jf$END"
        var type = "survey"

        string = delimiter + "$type=" + type + "$END"

        let childrenOfRound = element.children
        var arr = Array.prototype.slice.call( childrenOfRound ) // make it an array

        /*<div draggable="true" class="box surveyRound"><h1>Survey Round</h1>This is a survey box<br>
          <button id="add_button" onclick="addQuestion(this)">Add Question</button><br><br><br>
      
          <div class="questionDiv"><label for="question">Question: </label><input id="question" class="questionText"></input><br>
          <select name="questionType" id="questionType">
            <option value="scale">Scale Bar 1-10</option>
            <option value="input">Input Box</option>
            <option value="yesOrNo">Yes Or No Option</option>
          </select><br><br></div>
        </div>*/

        questionNum = 1

        arr.forEach(function (item, index) {
          if (hasClass(item, "questionDiv")){
            var questionDelimiter = "@@@QUESTION@@@"
            let itemChildren = item.children
            var itemArr = Array.prototype.slice.call( itemChildren ) 

            string = string + questionDelimiter


            itemArr.forEach(function (divItem) {
              if (hasClass(divItem, "questionText")){
                string = string + "$questionText=" + divItem.value + "$END"
              } else if (hasClass(divItem, "questionType")){
                string = string + "$questionType=" + divItem.value + "$END"
              }
            })


            string = string + questionDelimiter

          }


        });


      experimentString = experimentString + string



      }else if (hasClass(element, 'textRound')){
        var type = "text"
        var title = element.querySelector('#title-input').value
        console.log("title", title)
        var text = element.querySelector('.text-input').value


        string = delimiter + "$type=" + type + "$END"
        string = string + "$title=" + title + "$END"
        string = string + "$text=" + text + "$END"

        experimentString = experimentString + string

      }else if (hasClass(element, 'imageRound')){
        var type = "image"
        var image = element.querySelector('.image-input').files[0]
        var question = element.querySelector('.questionText').value
        var questionType = element.querySelector('.questionType').value
        var name = element.querySelector('.nameText').value


        string = delimiter + "$type=" + type + "$END"
        string = string + "$questionText=" + question + "$END"
        string = string + "$questionType=" + questionType + "$END"
        string = string + "$name=" + name + "$END"

        imageList.push(image)

        experimentString = experimentString + string

      }

    }

    )
    console.log("STUFF", experimentString, imageList);


    return [experimentString, imageList];	


  }

  function submitExperiment() {
              nameFilled = document.getElementById('experimentName').value

              if ((nameFilled == "") || (nameFilled == " ")) {
                alert("Cannot submit an experiment wihtout a name")
              }
              else{
        
              experimentInfo = "$type=experiment$END$experimentID=TestExperiment123$END"

              surveyRound = "$type=survey$END$text=This Is Survey Text$END$surveyID=je02934jf$END"

              textRound = "$type=text$END$text=This is text for a text round$END"

              audioRound = "$type=audio$END$add_mumbles=true$END$pairs=5$END$placebo=false$END"

              var fd = new FormData();
              expInfo = buildExperimentInfo();
              experimentString = expInfo[0]
              imageList = expInfo[1]
              fd.append('roundInfo', experimentString);
              for (const file of imageList) {
                console.log("file", file)
                fd.append('images[]', file, file.name);
              }
              $.ajax({
                  type: 'POST',
                  url: "{% url 'postExperiment' %}",
                  headers: {"X-CSRFToken": "{{ csrf_token }}"},
                  data: fd,
                  processData: false,
                  contentType: false
              }).done(function(data) {
                  console.log(data);
                  location.href = "{% url 'viewExperiment_Researcher' %}?id=" + data['id'];
              });
              }
}

</script>

<script src="https://kit.fontawesome.com/1b3007e0fe.js" crossorigin="anonymous"></script><br><br>


{% endblock %}