{% extends 'layout.html' %}

{% load static %}
{% block content %}

<style>


  
    .input {
        padding-top :15px;
      }
    
      .label {
        padding-top :15px;
        padding-left: 60px;
        
      }
    
      .textArea {
    
        min-width: 40%;
    
      }
    
      #submitBtn {
        margin:10px;
        background-color: #4f5d75 !important;
        border: none !important;
        padding: 10px 10px 10px 10px !important;
        font-size: 16px;
        color: white;
        border-radius:5px;
      }
    
    
      #submitBtn:hover{
        background-color: #2d3142 !important;
    
      }
    
      #submitBtn:focus {
        box-shadow:none;
      }
      

    
    #rowHeading { 
      margin-top: 30px;
      margin-bottom:40px;
    }

    .row1{
        margin-top: 30px;
        margin-bottom: 30px;
    }


    #publishBtn {
        margin-left:-50px;
    }

    #copyBtn {
        margin-left: 10px;
    }
    
    .customBtn {
        margin: 50px;
        padding-left: 20px;
        padding-right:20px;
        background-color: #4f5d75 !important;
        border: none;
        color: white !important;
        font-size: 20px;
    }

    .customBtn:hover {
        background-color: #2d3142 !important;
    }

    .customBtn:focus {
        border:none !important;
      }
      
    .customBtn:active{
        transform: perspective(20px) translateZ(-1px);
        border: none !important;
      }

      
/* Style the tab */

.tab {
  overflow: #f1f1f1;
  background-color: dimgray;
  border-bottom: 1px solid dimgray;

}

/* Style the buttons inside the tab */
.tablinks {
    border: none;
    border-left: 1px solid gray ;
    border-right: 1px solid gray;
  background-color: inherit;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
}



/* Create an active/current tablink class */
.tablinks.active {
  background-color: white;
  border: none;
  color: dimgray;

}


/* Style the tab content */
.tabcontent {
  
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabcontent.active {
  display:block;
}

#summary {
    text-align: center;
}

.contentRow {
    margin-top : 50px;

}

.hidden{
    display: none;
}

#feedbackmessage {
    text-align: center;
    padding: 150px;
    font-size: 20px;
}

#errorMessage {
    text-align: center;
    color: red;
}

.prevUpdates {
    max-width:80%;
}

.chartTitle, .chartCorrect {
  padding: 50px;
}


.chartRow{
  margin-top: 100px;
}

img {
  max-width:90%;
}

.box {
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid darkgray;
  text-align: left;
  min-width: 190px;

}

.box p {
  font-size: 18px;
}
.roundRow {
  padding-top: 30px;
  margin-left:20px !important;

}

.pageNum {
  font-size:20px;
  color: darkgray;
  text-align:center;
  margin-bottom:10px;
}

.qRoundHeading {
  margin-top:20px;
  margin-bottom: 20px;

}


canvas{
  width:500px !important;
  height:300px !important;

}

.questionText {
  font-size: 23px;
}

#graph {
  margin-bottom: 30px;
}

.partTotal {
  font-size:22px;
}


.qImage {
  min-width:65%;
  padding:15px;
  margin-bottom: 20px;
}


</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<div class="row row1">
    <div class="col-md-2"></div>
        <div class="col-md-8 d-flex justify-content-center heading">
        <h1> Experiment Name: {{ experimentName }} </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <button class="btn btn-primary customBtn" id="copyBtn" onclick="copy2Clip()">Copy Invite Link</button>
    </div>
</div>
<div class="row tabRow">
    <div class="col-md-1"></div>
    <div class="col-md-10 d-flex justify-content-center heading">

        <div class="tab">
            <button class="tablinks tablinks1 active" onclick="openTab(event, 'summary')">Summary</button>
            <button class="tablinks tablinks1" onclick="openTab(event, 'graph')">Participation</button>
            {% if audio_rounds %}
            <button class="tablinks tablinks1" onclick="openTab(event, 'stats')">Stats</button>
            {% endif %}
            <button class="tablinks tablinks1" onclick="openTab(event, 'questions')">Questions</button>
            <button class="tablinks tablinks1" onclick="openTab(event, 'publish')">Update Subscribers</button>
            <button class="tablinks tablinks1" onclick="openTab(event, 'prevUpdates')">Previous Updates</button>
            <a href="{% url 'downloadData' %}?id={{ id }}"><button class="tablinks tablinks1">Download All Data</button></a>
        </div>
    </div>
</div>

<div class="row contentRow">
<div class="col-md-1"></div>
<div class="col-md-10 d-flex justify-content-center heading">

  <div id="summary" class="tabcontent tabcontent1">
    <div class="col-md-12 d-flex justify-content-center" id="rowHeading">
      <h2>Overview</h2>
    </div>
    <div class="row roundRow">
      <div class="col-sm-12">
          <div class="container row" id="roundContainer">
            {% for page in experimentList %}
              <div class="box col-sm-3">
                {% if page.pageType == "survey" %}
                  <div class="pageNum">{{forloop.counter}}</div>
                  <h3 style="text-align:center">SURVEY ROUND</h3>
                  <br>
                  {% for question in page.questionList %}
                    <p><b>Question {{ forloop.counter }}:</b> {{ question.questionText }}</p>
                    <p><b>Answer Type:</b>  {{ question.questionType }}</p>
                    <hr>
                  {% endfor %}
                {% endif %}
        
            {% if page.pageType == "text" %}
            <div class="pageNum">{{forloop.counter}}</div>
            <h3 style="text-align:center">TEXT ROUND</h3>
            <br>
            <p style="word-wrap: break-word;max-width: 350px;"><b>Title:</b> {{ page.title }}</p>
            <p style="word-wrap: break-word;max-width: 350px;"><b>Text:</b><br>{{ page.text }}</p>

            {% endif %}
        
            {% if page.pageType == "audio" %}
            <div class="pageNum">{{forloop.counter}}</div>

            <h3 style="text-align:center">AUDIO ROUND</h3>
            <br>
            <p><b>Prime:</b> {{ page.prime }}</p>
        
            <p><b>Pair Amount:</b> {{ page.pairs }}</p>
            {% endif %}
        
            {% if page.pageType == "image" %}
            <div class="pageNum">{{forloop.counter}}</div>

            <h3 style="text-align:center">IMAGE ROUND</h3>
            <br>

            <p style="word-wrap: break-word;max-width: 350px;"><b>Associated Question:</b><br>{{ page.questionText }}</p>
              <br>
              <div style="text-align:center">
                <img src="{{ page.url }}"></img>
              </div>
            {% endif %}
          </div>

            <br><br>
            {% endfor %}
    
        </div>
      </div>
    </div>
  </div>

<div id="questions" class="tabcontent tabcontent1">
  <div class="row">
    <div class="row tabRow">
      <div class="col-md-1"></div>
      <div class="col-md-10 d-flex justify-content-center heading">
        <div class="tab">
          {% for page in pages_list %}
            {% if page.num == 0 %}
              <button class="tablinks tablinks2 active" onclick="openTab2(event, '{{ page.id }}')">{{ page.roundName }}</button>
            {% else %}
              <button class="tablinks tablinks2" onclick="openTab2(event, '{{ page.id }}')">{{ page.roundName }}</button>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
      
    <div class="row contentRow">
      <div class="col-md-1"></div>
      <div class="col-md-10 d-flex justify-content-center heading">
        {% for page in pages_list %}
          <div id="{{ page.id }}" class="tabcontent tabcontent2">
            {% if page.type == "image" %}
              <div class="row qRoundHeading">
                <div class="col-md-12 d-flex justify-content-center">
                  <h2> Image Round: {{ page.title }}</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                  <p class="questionText"> {{ page.questionText }}<br><br> </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 d-flex justify-content-center"></div>
                <div class="col-md-10 d-flex justify-content-center">
                  <img class="qImage"src="{{ page.url }}"></img>
                </div><br><br>
              </div>
              <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                  {% if page.bar_chart %}
                    <div height="40" width="40">
                      <canvas id="{{ page.Chart_id }}" ></canvas>
                    </div>
                  {% else %}
                  <h3> Answers: </h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                  <div style="overflow-y: scroll; height:400px;">
                    <ul class="list-group">
                      {% for answer in page.answers %}
                        <li class="list-group-item">{{ answer.answer }}</li>
                      {% endfor %}
                    </ul>
                  </div>                  
                </div>
              </div><br>
            {% endif %}
   
            {% elif page.type == "survey" %}
              {% for question in page.surveyInfo.questions %}
                <div class="row qRoundHeading">
                  <div class="col-md-12 d-flex justify-content-center">
                    <h3> Question {{ forloop.counter}}: </h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 d-flex justify-content-center">
                    <p class="questionText"> {{ question.questionText }}<br><br> </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 d-flex justify-content-center">
                    {% if question.bar_chart %}
                      <div height="40" width="40">
                        <canvas id="{{ question.id }}"></canvas>
                      </div>
                      <br><br><br>
                    {% else %}
                      <div style="overflow-y: scroll; width:200px;height:400px;">
                        <ul class="list-group">
                          {% for answer in question.answers %}
                            <li class="list-group-item">{{ answer.answer }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% endif %}
                  </div>
                </div>   
              {% endfor %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>



  <div id="publish" class="tabcontent tabcontent1">
    <div class="col-md-12 d-flex justify-content-center" id="rowHeading">
        <h2>Send an email update to your subscribers</h2>
    </div>
    <p id="errorMessage"></p>
        <form id="publishForm" method="POST" action="">
          <div class="row">
            <div class="col-md-5 input d-flex justify-content-center heading">
                {{ form.subject }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 input d-flex justify-content-center heading">
                {{ form.body }}
            </div>
        </div>
        <input type="text" id="experiment_id" name="experiment_id" class="hidden"></input>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 d-flex justify-content-center">
              <input value="Submit" id="submitBtn" type="submit">
            </div>
          </div>
        </form>
        <p id="feedbackmessage" class="hidden"></p>
        <p id="errorMessage"></p>

      </div>
    
      <script>
        $(document).ready(function() {
            var message = document.getElementById("feedbackmessage")
            var errorMessage = document.getElementById("errorMessage")
            $("#publishForm").submit(function(event) {
                event.preventDefault();
                var exp_id = document.getElementById("experiment_id")
                exp_id.value = {{ id }}
                $.ajax({
                    method: 'POST',
                    headers: {"X-CSRFToken": "{{ csrf_token }}"},
                    url: "{% url 'viewExperiment_Researcher' %}",
                    data: $(this).serialize(),
                    success: function(data) {
                        if(data['success']) {
                            message.innerText = "Success! your email has been sent out."
                            $("#errorMessage").addClass("hidden");
                            $("#publishForm").addClass("hidden");
                            $("#feedbackmessage").removeClass("hidden");

                        }
                        if(data['oops']) {
                            $("#errorMessage").removeClass("hidden");
                            errorMessage.innerText = data['oops']
                        }
                        if(data['error']) {
                            $("#errorMessage").removeClass("hidden");
                            errorMessage.innerText = "Error: " + data['error']['comment']
                        }
                    },
                error: function (request, status, error) {
                        console.log(request.responseText);
                }
            });
        });
     })
      </script>


<div class="tabcontent tabcontent1" id="stats">
  <div class="col-md-12 d-flex justify-content-center" id="rowHeading">
    <h2> View The Overall Performance For Each Type Of Prime </h2>
  </div>
  {% for chart in chartsData %}
    <div class="row chartRow">
      <div class="col-md-3 d-flex justify-content-center"></div>
        <div class="col-md-6 d-flex justify-content-center">

        <div height="40" width="40">
          <canvas class="chart" id="{{ chart.title }}" ></canvas>
        </div>
      </div>
      <div class="col-md-3">
        <p class="chartCorrect questionText"><b>Overall Correct:</b> {{ chart.percent }}% </p>
      </div>
    </div>
  {% endfor %}
</div>


<div class="tabcontent tabcontent1" id="prevUpdates">
    {% if update_exists %}
    <table class="table table-md">
      <thead>
        <tr class="dflex">
          <th scope="col" class="col-4">Date</th>
          <th scope="col" class="col-3">Subject</th>
          <th scope="col" class="col-8">Body</th>
        </tr>
      </thead>
      <tbody>

        {% for u in updates %}
        <tr class="dflex">
          <td>{{ u.dateSent }}</td>
          <td>{{ u.subject }}</td>
          <td style="word-wrap: break-word;min-width: 700px;max-width: 700px;">{{ u.body }}</td>
        </tr id="content">
        {% endfor %}
    
      </tbody>
    </table>
    {% else %}
    <div class="col-md-12 d-flex justify-content-center" id="rowHeading">
      <h2> No updates have been made yet </h2>
    </div>
    {% endif %}
</div>


<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet">
  </head>
    

    <main class="tabcontent tabcontent1" id="graph"  style="text-align:center;">
      <div class="col-md-12 d-flex justify-content-center" id="rowHeading">
        <h2> Participation</h2>
      </div>

      <div class="row">
        <div class="col-md-12 text-left partTotal">
          Total Participants: {{ participant_count }}<br>
          Total Subscribers: {{ subscriber_count }}<br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex justify-content">
          <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
        </div>
      </div>      
    </main>
</div>
</div>

<script>
  var mylist = JSON.parse("{{uv}}");
</script>


      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
      <script src="{% static 'assets/js/dashboard.js' %}"></script>
  </body>

  <script>
        // {{ request.get_host }}{% url 'createExperimentPage' %}?id={{ id }}<script>
function copy2Clip(){
    //the text that is to be copied to the clipboard
    var theText = "{{ request.get_host }}{% url 'experimentLoad' %}?id={{ id }}";

    //create our hidden div element
    var hiddenCopy = document.createElement('div');
    //set the innerHTML of the div
    hiddenCopy.innerHTML = theText;
    //set the position to be absolute and off the screen
    hiddenCopy.style.position = 'absolute';
    hiddenCopy.style.left = '-9999px';

    //check and see if the user had a text selection range
    var currentRange;
    if(document.getSelection().rangeCount > 0)
    {
         //the user has a text selection range, store it
         currentRange = document.getSelection().getRangeAt(0);
         //remove the current selection
         window.getSelection().removeRange(currentRange);
    }
    else
    {
         //they didn't have anything selected
         currentRange = false;
    }

    //append the div to the body
    document.body.appendChild(hiddenCopy);
    //create a selection range
    var CopyRange = document.createRange();
    //set the copy range to be the hidden div
    CopyRange.selectNode(hiddenCopy);
    //add the copy range
    window.getSelection().addRange(CopyRange);

    //since not all browsers support this, use a try block
    try
    {
         //copy the text
         document.execCommand('copy');
    }
    catch(err)
    {
         window.alert("Your Browser Doesn't support this! Error : " + err);
    }
    //remove the selection range (Chrome throws a warning if we don't.)
    window.getSelection().removeRange(CopyRange);
    //remove the hidden div
    document.body.removeChild(hiddenCopy);

    //return the old selection range
    if(currentRange)
    {
         window.getSelection().addRange(currentRange);
    }
}
  </script>
  <script>

    function openTab(evt, tabName) {
      var i, tabcontent, tablinks;
      $("#publishForm").removeClass("hidden");
      tabcontent = document.getElementsByClassName("tabcontent1");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
        $("#errorMessage").addClass("hidden");
        $("#feedbackmessage").addClass("hidden");
      }
      tablinks = document.getElementsByClassName("tablinks1");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    function openTab2(evt, tabName) {
      var i, tabcontent, tablinks;
      $("#publishForm").removeClass("hidden");
      tabcontent = document.getElementsByClassName("tabcontent2");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
        $("#errorMessage").addClass("hidden");
        $("#feedbackmessage").addClass("hidden");
      }
      tablinks = document.getElementsByClassName("tablinks2");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }

  document.onload = document.getElementById('summary').style.display = "block";

  function displayFirstRound_lol(){
        {% for page in pages_list %}
          {% if page.num == 0 %}
           document.getElementById("{{ page.id }}").style.display = "block";
          {% endif %}
        {% endfor %}
  }

  document.onload = displayFirstRound_lol();
</script>

</html>



{% endblock %}



{% block extrascripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

{% for chart in chartsData %}
labels = [];

{% for label in chart.labels %}
   labels.push('{{ label }}')
{% endfor %}

console.log(labels);
data = {
  labels: labels,
  datasets: [{
    label: "{{ chart.title }}",
    data: {{ chart.data }},
    backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(201, 203, 207, 0.2)'
    ],
    borderColor: [
      'rgb(255, 99, 132)',
      'rgb(255, 159, 64)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)',
      'rgb(54, 162, 235)',
      'rgb(153, 102, 255)',
      'rgb(201, 203, 207)'
    ],
    borderWidth: 1
  }]
};
  
    
   config = {
    type: 'bar',
    data: data,
    options: {
      responsive: false,
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    },
  };
     myChart = new Chart(
        document.getElementById('{{ chart.title }}'),
        config
    );
{% endfor %}
  </script>
  <script>

    {% for chart in chartsData %}
    labels = [];
    
    {% for label in chart.labels %}
       labels.push('{{ label }}')
    {% endfor %}
    
    console.log(labels);
    data = {
      labels: labels,
      datasets: [{
        label: "{{ chart.title }}",
        data: {{ chart.data }},
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 205, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(201, 203, 207, 0.2)'
        ],
        borderColor: [
          'rgb(255, 99, 132)',
          'rgb(255, 159, 64)',
          'rgb(255, 205, 86)',
          'rgb(75, 192, 192)',
          'rgb(54, 162, 235)',
          'rgb(153, 102, 255)',
          'rgb(201, 203, 207)'
        ],
        borderWidth: 1
      }]
    };
      
        
       config = {
        type: 'bar',
        data: data,
        options: {
          responsive: false,
          maintainAspectRatio: false,
          scales: {
            y: {
              beginAtZero: true
            }
          }
        },
      };
         myChart = new Chart(
            document.getElementById('{{ chart.title }}'),
            config
        );
    {% endfor %}
      </script>
    
      <script>
    
        window.onload = makeAllCharts();
    
        function makeAllCharts() {
        {% for page in pages_list %}
        {% if page.type == "image" %}
        {% if page.bar_chart %}
        {% if page.questionType == "yesOrNo" %}
        labels = ["Yes", "No"]
        {% elif page.questionType == "Agree" %}
        labels = ["Strongly Disagree", "Disagree", "Indifferent", "Agree", "Strongly Agree"]
       {% else %}
        labels = {{ page.bar_data.labels }};
        {% endif %}
        data = {
          labels: labels,
          datasets: [{
            label: "{{ page.bar_data.title }}",
            data: {{ page.bar_data.data }},
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 205, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(201, 203, 207, 0.2)'
            ],
            borderColor: [
              'rgb(255, 99, 132)',
              'rgb(255, 159, 64)',
              'rgb(255, 205, 86)',
              'rgb(75, 192, 192)',
              'rgb(54, 162, 235)',
              'rgb(153, 102, 255)',
              'rgb(201, 203, 207)'
            ],
            borderWidth: 1
          }]
        };
    
    
        config = {
          type: 'bar',
          data: data,
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          },
        };
    
    
        myChart = new Chart(
              document.getElementById('{{ page.Chart_id }}'),
              config
          );
          {% endif %}
          {% endif %}
          {% endfor %}
      
      
          {% for page in pages_list %}
          {% if page.type == "survey" %}
          {% for question in page.surveyInfo.questions %}
          {% if question.bar_chart %}
                {% if question.questionType == "yesOrNo" %}
                labels = ["Yes", "No"]
                {% elif question.questionType == "Agree" %}
                labels = ["Strongly Disagree", "Disagree", "Indifferent", "Agree", "Strongly Agree"]
               {% else %}
                labels = {{ question.bar_data.labels }};
                {% endif %}
                data = {
                  labels: labels,
                  datasets: [{
                    label: "{{ question.bar_data.title }}",
                    data: {{ question.bar_data.data }},
                    backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 205, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                      'rgb(255, 99, 132)',
                      'rgb(255, 159, 64)',
                      'rgb(255, 205, 86)',
                      'rgb(75, 192, 192)',
                      'rgb(54, 162, 235)',
                      'rgb(153, 102, 255)',
                      'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1
                  }]
                };
        
        
                config = {
                  type: 'bar',
                  data: data,
                  options: {
                    scales: {
                      y: {
                        beginAtZero: true
                      }
                    }
                  },
                };
        
                myChart = new Chart(
                      document.getElementById('{{ question.id }}'),
                      config
                  );
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
              }
        </script>


{% endblock %}