{% extends 'layout.html' %}

{% block extrascripts %}

<script>
    function getCookie(c_name)
    {
        if (document.cookie.length > 0)
        {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
            {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
     }
     
    function create_post() {
        console.log("create post is working!") // sanity check
        $.ajax({
            url : "/create_post/", // the endpoint
            type : "POST", // http method
            headers: { "X-CSRFToken": getCookie("csrftoken") },
            data : { the_post : $('#post-text').val() }, // data sent with the post request
    
            // handle a successful response
            success : function(json) {
                $('#post-text').val(''); // remove the value from the input
                console.log(json); // log the returned json to the console
                console.log("success"); // another sanity check
            },
    
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    };
    
        // Submit post on submit
    $('#post-form').on('submit', function(event){
        event.preventDefault();
        console.log("form submitted!")  // sanity check
        create_post();
    });
    </script>

{% endblock %}

{% block content %}

<div class='row'>
    <form action="/create_post/" method="POST" id="post-form">
        {% csrf_token %} 
        <button type="submit">Upload</button> 
    </form>
</div>

{% endblock %}