{% extends 'layout.html' %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<br><br>
<div class='row'>
    <div style= "margin-left: 20px">
        <form action="" enctype="multipart/form-data" id="audioForm" method="POST">
            {% csrf_token %}
            <label for="name">Audio:</label>
            <input type="text" id="name" name="name" maxlength="20" required>
            <label for="allow_mumble" style = "display: block">Allow mumble:</label>
            <input type="checkbox" id="allow_mumble" value="allow_mumble" name="allow_mumble" style="appearance: auto;"><br>
            <input id="audio" type="file" /> 
        </form>
    </div>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/recorder.css' %}">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <div class="record-container"> 
    </div>

    <div>
        Record Audio Or Upload From Device
        <div class="waveform-container">
            <div id="waveform"></div>
        </div>
        <audio hidden id="myAudio" class="video-js vjs-default-skin"></audio>

        <div style="text-align: center" class="buttons">
        <button id="recordButton" class="btn btn-primary" onclick="startRecording(event) ">
            ⬤
        </button>

        <button id= "playButton" class="btn btn-primary" onclick="playRegion()">
            ▶
        </button>
        <button class="btn btn-primary" onclick="wavesurfer.stop()">
            ◼
        </button>
        <p class="row">
            <div class="col-xl-12">
            <button class="btn btn-primary trim-left" onclick="trimLeft()">
            Trim
        </button>
            <button class="btn btn-primary trim-left" onclick="deleteChunk()">
            Remove Section
        </button>
            <button class="btn btn-primary trim-left" onclick="revert()">
            Revert
        </button>
            </div>
        </p>
        <!-- button that triggers a link to the audio to be displayed.
            Ideally this button will also send a POST request. -->
        <button id="addButton"onclick="saveAudio()">
        Add Audio
        </button>
        </div>

        <h3>Files</h3>
        <ol id="recordingsList"></ol>
    </div>        
    
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM --> 
    <!-- <link href="//unpkg.com/video.js@7.14.3/dist/video-js.min.css" rel="stylesheet"> -->
    <link href="//unpkg.com/videojs-wavesurfer/dist/css/videojs.wavesurfer.min.css" rel="stylesheet">

    <!-- the following are library scripts for wavesurfer, recording and editing -->
    <script src="//unpkg.com/video.js@7.14.3/dist/video.min.js"></script>
    <script src="//unpkg.com/recordrtc/RecordRTC.js"></script>
    <script src="//unpkg.com/webrtc-adapter/out/adapter.js"></script>
    <script src="//unpkg.com/wavesurfer.js/dist/wavesurfer.min.js"></script>
    <script src="//unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.microphone.min.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js"></script>
    <script src="//unpkg.com/videojs-wavesurfer/dist/videojs.wavesurfer.min.js"></script>
    <script src="//unpkg.com/videojs-record/dist/videojs.record.min.js"></script>

    <!-- local script for wavesurfer, recording and editing -->
    {% load static %}
    <script src="{%static '/assets/js/recorder.js'%}" type="text/javascript"></script>

    <!-- can't remember what this is for -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
        function saveAudio() {
            var audioBlobURL = bufferToWave(wavesurfer.backend.buffer, 0, wavesurfer.backend.buffer.length, 0);
            var audioBlob = bufferToWave(wavesurfer.backend.buffer, 0, wavesurfer.backend.buffer.length, 1);
            var li = document.createElement('li');
            var link = document.createElement('a');
            //get the name that's written in input text box
            var name = $("#name").val()

            if (!name) {
                alert("Must give audio a name")
            }
            else{
                link.href = audioBlobURL;
                link.download = name + '.wav';
                link.innerHTML = link.download;
                //add the new audio and a elements to the li element 
                li.appendChild(link);
                //add the li element to the ordered list 

                recordingsList.appendChild(li);

                var fd = new FormData();
                audioName = name + '.wav'
                fd.append('word', audioName);
                fd.append('allow_mumble', $("allow_mumble").val() || false)
                fd.append('file_location', audioBlobURL);
                fd.append('file', audioBlob);
                $.ajax({
                    type: 'POST',
                    url: '/uploadAudio/',
                    headers: {"X-CSRFToken": "{{ csrf_token }}"},
                    data: fd,
                    processData: false,
                    contentType: false
                }).done(function(data) {
                });

               /*  var formData = new FormData();
                audioName = name + '.wav'
                formData.append('name', name)
                formData.append('allow_mumble', $("allow_mumble").val())
                formData.append('file_location', audioBlob)
                var request = new XMLHttpRequest();
                request.open("POST", "/uploadAudio/");
                request.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); 
                request.send(formData); */
            }
    
        }
    </script>
</div>


{% endblock %}