{% extends 'layout.html' %}

{% block content %}

<style>

/* Style the tab */
.tab {
  overflow: #f1f1f1;
  background-color: dimgray;
  margin-left: 40px;
  border-bottom: 1px solid dimgray;
}

/* Style the buttons inside the tab */
.tablinks {
  background-color: inherit;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  transition: 0.3s;
  font-size: 17px;
  border:none;
  color: white;
}



/* Create an active/current tablink class */
.tablinks.active {
  background-color: white;
  border: none;
  color: dimgray;

}


/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabcontent.active {
  display:block;
}

.table {
  margin-top : 30px;

}

.headingRow{
  padding-top: 30px;
  color: black;
}

#tabInfo {
  margin-top:50px;
  margin-left:40px;
}

.total {
  margin-top:30px;
  margin-left:-30px;
}


    
button {
    background-color: #4f5d75 !important;
    border: none !important;
    font-size: 20px !important;
    color: white !important;
    border-radius:5px;
    padding-bottom:5px;
    
  }


  .mainBtn {
    background-color: #4f5d75 !important;
    padding:10px 30px !important
  }



</style>



<div class="row headingRow">
  <div class="col-md-3"></div>
  <div class="col-md-6 d-flex justify-content-center heading">
    <h1>Experiments You've Taken</h1>
  </div>
</div>

<div class="row headingRow">
  <div class="col-md-2"></div>
  <div class="col-md-8 d-flex justify-content-center heading">

    {% if no_exp %}
    <br><br><br>
    <div class="row">
    <div class="col-md-12 d-flex justify-content-center" id="rowHeading">
    <h2> You have not taken any experiments </h2></div><br><br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center" id="rowHeading">
      <a href="{% url 'publicExperiments' %}"><button class="btn mainBtn">Visit Public Experiments</button></a>
    </div>
  </div>
    {% else %}
    <table class="table table-sm ">
      <thead>
        <tr>
          <th scope="col">#&nbsp;&nbsp;&nbsp;</th>
          <th scope="col">Taken</th>
          <th scope="col">Experiment Title</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for instance in object_list %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          {% for i in instance %}
            {% if i.created_at %}
              <td>{{ i.created_at }}</td>
            {% else %}
              <td >{{ i.title }}</td>
              <td><a href="{% url 'viewUpdates' %}?id={{ i.id }}"><button>View Updates</button></a></td>
              <td><a href="{% url 'showResults' %}?id={{ i.id }}"><button>View Your Results</button></a></td>
            {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}

      </tbody>
    </table>
    {% endif %}
  </div>
</div>

{% endblock %}


