{% load static %}

<!DOCTYPE html>
<html>

  <head>

      <meta charset="UTF-9" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {% comment %} <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" /> {% endcomment %}
      <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
      <script src="{% static 'assets/js/myScript.js' %}"></script>
      <title>Musical Pairs Psychology Experiment</title>
      {% block style %}  {% endblock %}

      <style>
        body{
        margin: 0;
        padding: 0;
        }
        .rest {
        margin-top:10px;
        margin-left:10px;
        }
        .nav {
            background-color:black;
            }
        .j {
        padding:5px;
        }
      </style>
  </head>
      <header>
{% with url_name=request.resolver_match.url_name %}
          <nav class="nav nav-tabs justify-content-center flex-sm-row flex-column mr-auto">
        <ul class="nav nav-tabs justify-content-center flex-sm-row flex-column mr-auto" style="margin-left:0px;">
  <li class="nav-item" style="margin-left:0px;">
    <a class="nav-link {% if url_name == 'uploadAudio' %}active{% endif %}" href="#" style="margin-left:0px;">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if url_name == 'uploadAudio' %}active{% endif %}" href="{% url 'uploadAudio' %}">Create Audios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if url_name == 'showAudios' %}active{% endif %}" href="{% url 'showAudios' %}">Show Audios</a>
  </li>
            <li class="nav-item">
    <a class="nav-link {% if url_name == 'createExperiment' %}active{% endif %}" href="{% url 'createExperiment' %}">Create Experiment</a>
  </li>
            <li class="nav-item">
    <a class="nav-link {% if url_name == 'listExperiments' %}active{% endif %}" href="{% url 'listExperiments' %}">Show Experiments</a>
  </li>
            <li class="nav-item">
    <a class="nav-link {% if url_name == 'experimentPage' %}active{% endif %}" href="{% url 'experimentPage' %}">Do an Experiment</a>
  </li>
            <li class="nav-item">
    <a class="nav-link {% if url_name == 'publish' %}active{% endif %}" href="{% url 'publish' %}">Publish Experiment</a>
  </li>
        </ul>
            {% endwith %}
            <ul class="navbar-nav ml-auto">
            <li class="navbar-text" style="color:red;margin-right:5px">
            {% if user.is_authenticated %}
          Hello {{request.user.username}}
        {% else %}
          You are not logged in
        {% endif %}
            </li>
            </ul>
          </nav>

  </header>



      <body>
      <div class="rest">
    {% block loginForm %} {% endblock %}
    {% block content %} {% endblock %}
    {% block analyse %} {% endblock %}
    {% block display %} {% endblock %}
    {% block upload %} {% endblock %}
    {% block view %} {% endblock %}
    {% block shipping %} {% endblock %}
    {% block card %} {% endblock %}
    {% block success %} {% endblock %}
    {% block home %} {% endblock %}
    {% block check %} {% endblock %}

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'assets/js/browser.min.js' %}"></script>
    <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    {% block extrascripts %}

    {% endblock %}


      <footer>
          <nav class="footer-nav">

          </nav>
      </footer>
    </div>
      </body>
</html>
