<!DOCTYPE html>
<html>

  <head>

      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Musical Pairs Psychology Experiment</title>
      {% block cardCSS %}  {% endblock %}
      {% block shippingCSS %}  {% endblock %}
      {% block displayCSS %}  {% endblock %}
  </head>

      <header>

  </header>




      <body>
          <h1>LAYOUT PAGE EXAMPLE </h1>
    {% block loginForm %} {% endblock %}
    {% block content %} {% endblock %}
    {% block analyse %} {% endblock %}
    {% block display %} {% endblock %}
    {% block upload %} {% endblock %}
    {% block view %} {% endblock %}
    {% block shipping %} {% endblock %}
    {% block card %} {% endblock %}
    {% block success %} {% endblock %}
    {% block home %} {% endblock %}
    {% block check %} {% endblock %}

      </body>

      <footer>
          <nav class="footer-nav">

          </nav>
      </footer>

</html>