{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<style>


  
  html {
    background: url('{% static "login22.png"%}') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(255,255,255,0);
    background-blend-mode: lighten;
}


  .heading {
    padding-bottom: 30px;    

  }

.buttn {
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #4f5d75 !important;
  border: none;
  color: white !important;
  padding: 8px 25px 8px 25px !important;

}

.buttn:focus {
  box-shadow:none;
}


.buttn:hover {
  background-color: #2d3142 !important;
}


#signupLink {
  color: black;
}

#title { 
  padding-top: 15px;
  color: white;
  font-size: 30px;
  
}

.welcomeRow {
  padding-top: 30px;
  padding-bottom:30px;
}




</style>
<div class="row welcomeRow">
  <div class="col-md-4"></div>
  <div class="col-md-4 d-flex justify-content-center heading">
    <h1>Welcome Back.</h1>
  </div>
</div>

<div class="row logRow">
  <div class="col-md-4"></div>
  <div class="col-md-4 logCol">

<div id="loginForm">
<div class="row row1">
  <div class="col-md-1 col1 "></div>
  <div class="col-md-10 col d-flex justify-content-center heading">
    <p id="title">Login</p>
  </div>
</div>
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-1 col1"></div>
      <div class="col-md-10 col input color d-flex justify-content-center">
        {{ form.username |as_crispy_field}}
      </div>
    </div>
    <div class="row">
        <div class="col-md-1 col1"></div>
        <div class="col-md-10 col input color d-flex justify-content-center">
          {{ form.password |as_crispy_field}}
        </div>
    </div>
    <div class="row">
      <div class="col-md-4 col1"></div>
      <div class="col-md-4 col d-flex justify-content-center">
          <button type="submit" class="buttn">Sign In</button>
      </div>
    </div>
  </form>
</div>
</div>
</div>
</div>

{% endblock %}