{% extends 'layout.html' %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<br><br>
<div class='row'>

    <input id="answer"></input>
    
        <button id="addButton"onclick="saveAudio()">
        Add Audio
        </button>
    </div>        

    <!-- can't remember what this is for -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
        function saveAudio() {

            if (!true) {
                alert("Must give audio a name")
            }
            else{
                var fd = new FormData();
                elem = document.getElementById("answer")
                fd.append('answer', elem.value || "answer defualt")
                fd.append('surveyID', {{ surveyID }})
                fd.append('experimentID', {{ experimentID }} )
                $.ajax({
                    type: 'POST',
                    url: '/postAnswer/',
                    headers: {"X-CSRFToken": "{{ csrf_token }}"},
                    data: fd,
                    processData: false,
                    contentType: false
                }).done(function(data) {
                    console.log(data);
                });

               /*  var formData = new FormData();
                audioName = name + '.wav'
                formData.append('name', name)
                formData.append('allow_mumble', $("allow_mumble").val())
                formData.append('file_location', audioBlob)
                var request = new XMLHttpRequest();
                request.open("POST", "/uploadAudio/");
                request.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); 
                request.send(formData); */
            }
    
        }
    </script>
</div>


{% endblock %}