{% extends 'layout.html' %}

{% block content %}
{% for instance in surveys %}
<h1> Survey: {{ instance.survey }} </h1>
    {% for question in instance.questions %}

        <h1> Question: {{ question.questionText }} </h1><br>
        <h2> Answers Given Below </h2>
        {% for answer in question.answers %}
        <div class='row'>
            <h3>{{ answer.answer }}</h3>>
            <p> User: {{ answer.user_id }} </p><br><br>
        </div>
        <br><br><br>
        {% endfor %}
    {% endfor %}
{% endfor %}

{% endblock %}